
/* TITLE */
.jumbotron {
    background-color: rgb(128, 172, 188)
}


/* MESSAGES */

.card-body{
    padding-top: 0;

}

.msg_cotainer {
    margin-top: auto;
    margin-bottom: 20px;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
}

.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: 20px;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
}

.msg_time {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
}

.msg_time_send {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
}


/* INPUT AT BOTTOM */
.input-group {
    position: absolute;
    bottom: 0;
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
}

#input-text {
    height: auto;
}

.btn-outline-success {
    padding-top: 10px;
}
